.logo{
  width:130px;
  margin:auto;
}


.grey {
  background-color: gray;
}
header{
  margin-bottom: 15px !important ;
}
.biad{
  background-color: white !important;

}
.card{
  margin-bottom: 10px !important;
}