<section class="body grey column">
    <div class="ui row"></div>
    <div class="ui segment container">
        <h4>Ajouter une réponse</h4>
        <form action="/questionReponse/{{_id}}" method="POST" class="ui  form">
            <div class="two fields">
                <div class="sixteen wide field">
                    {{!-- <label>Réponse</label> --}}
                    <input type="text" name="reponse" placeholder="Réponse">
                </div>
                <div class="field three wide">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" name="isTrue" checked tabindex="0" class="hidden">
                        <label>Réponse vrai</label>
                    </div>
                </div>
                <button data-tooltip="Ajouter la réponse" data-inverted="" class="ui button icon green" type="submit">
                    <i class="icon plus center"></i>
                </button>
            </div>
        </form>
    </div>
</section>