<section class="grey column">
    <div class="ui container">
        <div class="ui grid centered">
            <div class="row"></div>
            <h3>Accéder à un test utilisant le code donné par votre enseignant</h3>
            <div class="row ">
                <div class="eight wide centered column">
                    <form class="ui form center aligned" action="" method="POST">
                        <div class="field">
                            <div class="ui search">
                                <div class="ui icon input">
                                    <input class="prompt" type="text" placeholder="inserer le code ici" name="test"
                                        style="border-radius: 500rem;">
                                    <i class="clipboard icon"></i>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- hna les cartes -->



            <div class="row"></div>


        </div>
        <div class="segment ui">
            <h3>Liste des tests</h3>
            <h4>Utiliser le code en dessus pour accéder et passer un examen</h4>

<div class="ui cards four">
  <div class="card">
    <div class="content">
      <span class="right floated  ui" ><i class=" icon check"></i>100</span>
      <div class="header">
        Java
      </div>
      <div class="meta">
          Sat Dec 29 2018 00:56:45
      </div>
      <div class="description">
        Elliot requested permission to view your contact details
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic green button">Consulter</div>
        {{!-- <div class="ui basic red button">Decline</div> --}}
      </div>
    </div>
  </div>
    <div class="card">
    <div class="content">
      <span class="right floated  ui" ><i class=" icon check"></i>100</span>
      <div class="header">
        Java
      </div>
      <div class="meta">
          Sat Dec 29 2018 00:56:45
      </div>
      <div class="description">
        Elliot requested permission to view your contact details
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic red button">Consulter</div>
        {{!-- <div class="ui basic red button">Decline</div> --}}
      </div>
    </div>
  </div>
    <div class="card">
    <div class="content">
      <span class="right floated  ui" ><i class=" icon check"></i>100</span>
      <div class="header">
        Java
      </div>
      <div class="meta">
          Sat Dec 29 2018 00:56:45
      </div>
      <div class="description">
        Elliot requested permission to view your contact details
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic green button">Consulter</div>
        {{!-- <div class="ui basic red button">Decline</div> --}}
      </div>
    </div>
  </div>
    <div class="card">
    <div class="content">
      <span class="right floated  ui" ><i class=" icon check"></i>100</span>
      <div class="header">
        Java
      </div>
      <div class="meta">
          Sat Dec 29 2018 00:56:45
      </div>
      <div class="description">
        Elliot requested permission to view your contact details
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic green button">Consulter</div>
        {{!-- <div class="ui basic red button">Decline</div> --}}
      </div>
    </div>
  </div>
    <div class="card">
    <div class="content">
      <span class="right floated  ui" ><i class=" icon check"></i>100</span>
      <div class="header">
        Java
      </div>
      <div class="meta">
          Sat Dec 29 2018 00:56:45
      </div>
      <div class="description">
        Elliot requested permission to view your contact details
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic green button">Consulter</div>
        {{!-- <div class="ui basic red button">Decline</div> --}}
      </div>
    </div>
  </div>
</div>

        </div>
    </div>
</section>
<script>


</script>